.scrollToTop {
  position: fixed;
  bottom: 48px;
  left : 32px;
  z-index: 1000;
}

.button {
  background-color: #1ABC9C;
  border: none;
  color: white;
  padding: 10px 15px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #148F77;
}
