.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
Svg{
  transform: translateX(0px);
  animation: float 6s ease-out infinite;
}
@keyframes float {
  0%{
    transform: translateY(0px);
  }
  50%{
  transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}