/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00bfa6;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

body{
 -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;     
  user-select: none; 

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
.footer {
  text-align: center;
}

p.text-color{
  background-color: #f5f7f9;
  color: #090909;
}

h1.center{
  text-align: center;
}

@media (min-width: 700px) {
  .footer .col {
      --ifm-col-width: 33%;
}
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container form {
  margin-top: 20px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  background: #f0f0f0;
}

.form-container btn{
  background: linear-gradient(45deg, #4CAF50, #2E8B57);
  color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 500px;
  border-radius: 3px;
  padding: 5px;
}

.form-container btn:hover {
  background: linear-gradient(45deg, #2E8B57, #4CAF50);
}

.form-container button {
  background: linear-gradient(45deg, #4CAF50, #2E8B57);
  color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-container button:hover {
  background: linear-gradient(45deg, #2E8B57, #4CAF50);
}

.form-container p {
  margin-top: 20px;
  text-align: center;
}

.form-container a {
  color: #007bff;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

