/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00bfa6;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --background-color-light: #f9fafb;
  --background-color-dark: #2e2e2e;
  --text-color-light: #333;
  --text-color-dark: #ddd;
  --input-background: #ffffff;
  --input-border: #d1d5db;
  --input-focus-border: #00bfa6;
  --button-background: linear-gradient(45deg, #4caf50, #2e8b57);
  --button-hover-background: linear-gradient(45deg, #2e8b57, #4caf50);
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 6px 10px rgba(0, 0, 0, 0.15);
  --ifm-font-color-base-inverse-light: #b4f9f0; /* default light mode color */
  --ifm-font-color-base-inverse-dark: rgb(29, 43, 52); /* dark mode color */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --background-color-light: #2e2e2e;
  --background-color-dark: #1e1e1e;
  --text-color-light: #ddd;
  --text-color-dark: #bbb;
  --input-background: #3e3e3e;
  --input-border: #555;
  --input-focus-border: #25c2a0;
  --button-background: linear-gradient(45deg, #21af90, #1a8870);
  --button-hover-background: linear-gradient(45deg, #1a8870, #21af90);
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 6px 10px rgba(0, 0, 0, 0.25);
  --footer-link-hover-bg: linear-gradient(90deg, #21af90, #25c2a0);
}
